name: Test

on:
  - pull_request

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  go-tests:
    name: Go tests
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Install Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: go.mod

      - name: Check Go formatting
        run: |
          go fmt ./...
          git diff --exit-code

      - name: Check go.mod
        run: |
          go mod tidy
          git diff --exit-code

      - name: Run staticcheck
        run: go tool staticcheck -checks all ./...

      - name: Run tests
        run: go test -v -cover -race -shuffle on ./...
